/* -------- Global style */

body {
    font-family: 'Nanum Gothic Coding', monospace;
    text-align: center;
    margin: 0;

}

/* -------- Heading */

.heading {
    margin: 0;
}

.scroll-down {
    margin: 0;
    font-size: 15px;
}

/* -------- Game layout */

.computer-display {}

.player-display {}

#player-choice {
    width: 200px;
    height: 200px;
    margin: 0;
}

#computer-choice {
    width: 200px;
    height: 200px;
    margin: 0;
}

/* -------- Game controls area */

.controls-area {}

.controls-area button {
    width: 60px;
    height: 50px;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    margin: 2px;
    border-radius: 15px;
    background: #1d6eb0;
    color: white;
}

/* -------- Footer */

footer {
    background-color: #589595;
    width: 100%;
}

footer p {
    color: white;
}